<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.cyrus.listener.ContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.cyrus.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.cyrus.controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.cyrus.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticlesController</servlet-name>
        <servlet-class>com.cyrus.controllers.SearchArticlesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocialNetworkController</servlet-name>
        <servlet-class>com.cyrus.controllers.SocialNetworkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostTheArticleController</servlet-name>
        <servlet-class>com.cyrus.controllers.PostTheArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTheArticleController</servlet-name>
        <servlet-class>com.cyrus.controllers.DeleteTheArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>com.cyrus.controllers.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentController</servlet-name>
        <servlet-class>com.cyrus.controllers.PostCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>com.cyrus.controllers.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.cyrus.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactEmotionsController</servlet-name>
        <servlet-class>com.cyrus.controllers.ReactEmotionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateTheAccountController</servlet-name>
        <servlet-class>com.cyrus.controllers.ActivateTheAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>com.cyrus.controllers.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOurPostsController</servlet-name>
        <servlet-class>com.cyrus.controllers.ViewOurPostsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticlesController</servlet-name>
        <url-pattern>/SearchArticlesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SocialNetworkController</servlet-name>
        <url-pattern>/SocialNetworkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostTheArticleController</servlet-name>
        <url-pattern>/PostTheArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTheArticleController</servlet-name>
        <url-pattern>/DeleteTheArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentController</servlet-name>
        <url-pattern>/PostCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactEmotionsController</servlet-name>
        <url-pattern>/ReactEmotionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateTheAccountController</servlet-name>
        <url-pattern>/ActivateTheAccountController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/NotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOurPostsController</servlet-name>
        <url-pattern>/ViewOurPostsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
